.offers > li:not(:first-child) {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #aaa;
}

.offer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.actions {
  text-align: right;

  li {
    display: inline-block;
  }

  li:not(:first-child) {
    padding-left: 2rem;
  }
}
