.searchBox {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  background-color: #ddd;
}

.searchInput {
  width: calc(100% - 8rem);
  height: 3rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000;
  border: none;
  background-color: transparent;
  outline: none;
}

.items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width: 100%;
  height: 31rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  overflow-y: scroll;
  justify-content: center;
}

.item {
  width: 15rem;
  height: 24rem;
  padding: .75rem;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: .75rem;
  padding: 1rem;
  box-shadow: #ddd 0 .25rem 1.5rem 0;
}

.itemHandlerWrapper {
  width: 100%;
  margin-bottom: 3.75rem;
}

.itemHandlerContainer {
  height: 2rem;
  float: right;
  border-radius: 1rem;
  background-color: #ceecc9;
  box-shadow: #ddd 0 0 .5rem 0;
}

.adder {
  width: 2rem;
}

.removerAndAdder {
  width: 6rem;
}

.selectionContainer {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #000;
  padding-top: .375rem;
  text-align: center;
  overflow: hidden;
}

.imgContainer {
  position: relative;
  width: 11.5rem;
  height: 11.5rem;
  margin: 1.5rem 0 1rem;
}

.imgWrapper {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.img {
  width: auto;
  height: auto;
  max-width: 11.5rem;
  max-height: 11.5rem;
}

.bottomRight {
  display: flex;
}

.subTotal {
  margin: .25rem 2rem 0 0;
}
