.step {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #aaa;
  border-radius: .5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.h3 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

.p {
  margin-top: .25rem;
  font-size: 1rem;
}

.progress {
  min-width: 5.25rem;

  li {
    display: inline-block;
    padding-left: 1rem;
  }
}

.circle {
  width: .75rem;
  height: .75rem;
  border: 2px solid #ceecc9;
  border-radius: 50%;
}

.active {
  background-color: #ceecc9;
}

.options {
  margin-bottom: 2rem;
  overflow-x: scroll;
  white-space: nowrap;

  li {
    display: inline-block;
  }

  li:not(:first-child) {
    padding-left: 1rem;
  }
}

.main {
  height: 35rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.scroller {
  scrollbar-color: #e5e5e5 #fff;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #e5e5e5;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: 600;
}
