.background {
  width: 100%;
  padding: 2rem;
  background-color: #000;
}

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
  color: #fff;
}

.main {
  display: flex;
  justify-content: space-between;
}

.era {
  width: 12rem;
  min-width: 12rem;
  margin-right: 5rem;
}

.paragraph {
  width: 100%;
  margin-top: 1.5rem;
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
  width: calc(100% - 17rem);
}

.group {
  font-size: 1.25rem;
  color: #ceecc9;
  font-weight: 600;
}

.link {
  display: block;
  margin-top: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  display: flex;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #fff;
  justify-content: space-between;
}

.channels {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

.channel {
  width: 1rem;
  height: 1rem;
  text-align: center;
}

.img {
  width: 1rem;
  height: auto;
}
