.titleWrapper {
  position: relative;
  width: 100%;
  height: 25rem;
  color: #333;
  padding: 5rem 0 0 3.5rem;
  background-color: #ceecc9;

  @media only screen and (min-width: 1280px) {
    padding-left: 15rem;
  }

  @media only screen and (min-width: 1920px) {
    padding-left: 25rem;
  }
}

.title {
  width: 25rem;
  font: 2.5rem 'Yeseva One';
  font-weight: 400;
  line-height: 2.625rem;
}

.slogan {
  margin-top: .25rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.titleActionWrapper {
  position: absolute;
  bottom: 5.25rem;
}

.ads {
  color: #333;
  text-align: center;
  margin: 0 4.5rem;
}

.adsTitle {
  margin: 2.5rem 4.5rem 2rem;
  font: 2rem 'Yeseva One';
  line-height: 2.125rem;
}

.adsWrapper {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  @media only screen and (min-width: 640px) and (max-width: 720px) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @media only screen and (min-width: 720px) and (max-width: 1280px) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

.adTitle {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.adImage {
  width: 14.25rem;
  height: 9.5rem;
}

.adText {
  display: inline-block;
  max-width: 12rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.adsActionWrapper {
  margin: 2rem 0 4rem;
}

.notes {
  max-width: 70rem;
  margin: 0 auto;
  color: #333;
}

.note {
  display: flex;
  margin-bottom: 7rem;
  justify-content: space-between;
}

.noteRightMargin {
  margin-right: 3rem;
}

.noteLeftMargin {
  margin-left: 3rem;
}

.noteImage {
  height: 21.875rem;
  width: auto;
}

.noteTitle {
  font: 2rem 'Yeseva One';
  line-height: 2.125rem;
}

.noteText {
  display: inline-block;
  margin: 1rem 0 3rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.brands, .goals, .conclusions {
  margin-bottom: 6rem;
  text-align: center;
}

.brandImage {
  width: 6.875rem;
  height: auto;
  margin: 0 .5rem;
}

.goalIcons {
  margin-top: 3rem;
}

.faqs {
  text-align: center;
}

.questions {
  margin: 3rem 0;
}

.question {
  margin-bottom: 1.25rem;
  padding: 1rem;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: .75rem;
}

.questionTitle {
  display: flex;
  justify-content: space-between;
}

.questionTitleText {
  font-weight: 600;
}

.conclusionsActionWrapper {
  margin-top: 3rem;
}

.thinText {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
} //todo unify thin text from other parts
