.background {
  width: 100%;
  height: 5rem;
  padding: 0 3.5rem;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 7.5rem;
  height: auto;
  vertical-align: middle;
}
