<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="description"
          content="Join the slow groceries movement: shop local and reduce waste. Saving the planet can't wait!"/>
    <meta name="author" content="Era Zero Waste"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="preload"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Yeseva+One&display=swap"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Yeseva+One&display=swap">
    </noscript>
</head>
<body>
<noscript>You need to enable JavaScript to open this web page.</noscript>
<div id="root"></div>
</body>
</html>