* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px 'Open Sans', sans-serif;
  min-width: 480px;
}

a {
  color: inherit;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
  }
}

//html {
//  font: 12px 'Open Sans', sans-serif;
//  min-width: 480px;
//
//  @media only screen and (min-width: 640px) {
//    font-size: 16px;
//  }
//}
