.button {
  font: 1rem 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.rounded {
  border-radius: .75rem;
}

.search {
  width: 8rem;
  height: 3rem;
  padding-left: 2rem;
  border-radius: 0 .5rem .5rem 0;
  background: url(https://dd7tel2830j4w.cloudfront.net/f1619449558323x810247593335920800/search.svg) no-repeat 1rem center;
}

.back {
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(https://dd7tel2830j4w.cloudfront.net/f1638259708482x315893636598932200/chevron-left.svg) no-repeat;
  background-size: cover;
}

.itemHandler {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.option {
  width: 10rem;
  height: 3.5rem;
}

.action {
  width: 15.5rem;
  height: 3.25rem;
  font-weight: 600;
}

.call {
  width: 25rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
}

.shop {
  width: 15rem;
  height: 2.5rem;
  font-size: .75rem;
  font-weight: 600;
}

.black {
  border: none;
  color: #fff;
  background-color: #333;
}

.whiteGreen {
  border: 1px solid #aaa;
  color: #000;
}

.whiteGreenUnselected {
  background-color: #fff;
}

.whiteGreenSelected {
  background-color: #ceecc9;
}

.green {
  border: none;
  color: #000;
  background-color: #ceecc9;
}
